@use '../../abstracts/colors' as *;
@use '../../abstracts/variables' as *;
@use '../../abstracts/functions' as *;

.button {
  border: none;
  display: flex;
  gap: spacing(1);
  align-items: center;
  padding: spacing(1);
  justify-content: center;
  font-size: $font-size-xs;
  border-radius: $radius-md;

  &:not(.disabled):not(:disabled):not([aria-disabled='true']):hover {
    cursor: pointer;
  }

  &.disabled, &:disabled, &[aria-disabled='true'] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.primary {
    color: $color-white;
    transition: opacity 0.2s ease;
    background-color: $color-black;

    &:not(.disabled):hover {
      opacity: 0.9;
    }
  }

  &.primary,
  &.secondary {
    font-weight: 500;
  }

  &.bordered {
    color: $color-black;
    background-color: transparent;
    box-shadow: $box-shadow-button;
    transition: background-color 100ms ease-in-out;

    &:not(.disabled):hover {
      background-color: $color-gray-light;
    }
  }
}
