@use '../../abstracts/colors' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;
@use '../../abstracts/functions' as *;
@use '../../abstracts/placeholders' as *;

.nav-link {
  @extend %flex;
  cursor: pointer;
  gap: $spacing-xxs;
  padding: spacing(1);
  color: $color-black;
  text-decoration: none;
  font-size: $font-size-xs;
  border-radius: $radius-md;
  transition: background-color 100ms ease-in-out;

  &:not(.borderless) {
    box-shadow: $box-shadow-button;
  }

  &.text-left {
    justify-content: flex-start;
  }

  &:hover {
    background-color: $color-gray-light;
  }

  &.active,
  &[aria-current="page"] {
    color: $color-white;
    background-color: $color-black;
  }

  :deep(span) {
    @extend %ellipsis;
  }

  svg {
    @include box($icon-size-small);
  }
}
