@use 'assets/style/abstracts/colors' as *;
@use 'assets/style/abstracts/variables' as *;
@use 'assets/style/abstracts/functions' as *;
@use 'assets/style/abstracts/mixins' as *;

.profile-dropdown {
  position: relative;
  display: inline-block;

  &__toggle {
    border: 0;
    display: flex;
    gap: spacing(1);
    cursor: pointer;
    padding: spacing(1);
    align-items: center;
    background: transparent;
    font-size: $font-size-sm;
    border-radius: $radius-md;
    box-shadow: $box-shadow-button;

    .active,
    &:hover {
      background-color: $color-gray-light;
    }
  }

  &__avatar {
    object-fit: cover;
    border-radius: 50%;
    @include box(rem(40));
  }

  &__menu {
    right: 0;
    display: flex;
    gap: spacing(1);
    min-width: 160px;
    position: absolute;
    padding: spacing(1);
    margin-top: spacing(1);
    flex-direction: column;
    border: 1px solid #ddd;
    background: $color-white;
    border-radius: $radius-md;
    z-index: $z-index-dropdown;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &--list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &__item {
    display: flex;
    gap: spacing(1);
    cursor: pointer;
    align-items: center;
    font-size: $font-size-xs;
    border-radius: $radius-md;
    padding: spacing(1) spacing(2);
    transition: background 0.2s ease;

    &:not(:last-child) {
      margin-bottom: spacing(1);
    }

    :deep(svg) {
      @include box($icon-size-small);
    }

    &:hover {
      background: $color-gray-light;
    }
  }
}
