@use 'assets/style/abstracts/variables' as *;
@use '../abstracts/functions' as *;

.header {
  display: flex;
  height: rem(80);
  padding: spacing(2);
  align-items: center;
  box-shadow: $box-shadow-box;
  justify-content: space-between;

  &__right {
    display: flex;
    gap: spacing(2);
    align-items: center;
  }
}
