@use 'assets/style/abstracts/colors' as *;
@use 'assets/style/abstracts/variables' as *;
@use 'assets/style/abstracts/functions' as *;

.settings__body {
  display: flex;
  gap: spacing(2);
  margin-top: spacing(2);

  :deep(section) {
    flex: 1;
  }

  :deep(.panel) {
    .panel__header {
      margin-bottom: spacing(2);

      p {
        color: $color-gray-dark;
        font-size: $font-size-sm;
      }
    }
  }
}
