@use 'assets/style/abstracts/colors' as *;
@use 'assets/style/abstracts/variables' as *;
@use 'assets/style/abstracts/functions' as *;

.default-layout :deep(main) {
  display: flex;
  gap: spacing(2);
  flex-direction: column;
  margin: spacing(4) spacing(20);

  .page__title {
    margin-bottom: 0;
    font-weight: bold;
  }

  .page__subtitle {
    margin: 0;
    color: $color-gray-dark;
    font-size: $font-size-sm;
  }

  section:not(.ignore-bordering) {
    padding: spacing(2);
    border-radius: $radius-lg;
    box-shadow: $box-shadow-box;
  }
}
