@use 'assets/style/abstracts/variables' as *;
@use 'assets/style/abstracts/functions' as *;

.default-layout :deep(main) {
  display: flex;
  gap: spacing(2);
  flex-direction: column;
  margin: spacing(4) spacing(20);

  .page__title {
    font-weight: bold;
    font-size: $font-size-xxl;
  }

  section:not(.ignore-bordering) {
    padding: spacing(2);
    border-radius: $radius-lg;
    box-shadow: $box-shadow-box;
  }
}
