$color-gray-dark: #717182;
$color-gray-dark-light: #a8a8ab;
$color-gray-light: #ededed;

$color-black: #030213;
$color-white: #fff;
$color-red: #702929;

$color-red-light: #FCE7F3;
$color-blue-light: #DBEAFE;
$color-green-light: #DCFCE7;
$color-yellow-light: #ffe193;

$color-red: #e60076;
$color-blue: #155dfc;
$color-green: #00a63e;
$color-yellow: #f0b100;

$color-hover-black: rgba(0, 0, 0, 0.1);
