$color-gray-dark: #717182;
$color-gray-light: #ededed;

$color-black: #030213;
$color-white: #fff;
$color-red: #702929;

$color-red-light: #FCE7F3;
$color-blue-light: #DBEAFE;
$color-green-light: #DCFCE7;

$color-red: #e60076;
$color-blue: #155dfc;
$color-green: #00a63e;

$color-hover-black: rgba(0, 0, 0, 0.1);
