@use '../../utilities/_errors.scss';
@use '../../abstracts/_functions.scss' as *;

#main-content {
  display: flex;
  gap: spacing(2);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
